moderngl==5.10.0
moderngl-window==2.4.1
PyGLM==2.7.0
numpy==1.26.2
Pillow==10.1.0
skyfield==1.46
requests==2.31.0
pyproj==3.6.1
PyInstaller==6.3.0
opencv-python==4.8.1.78
python-dateutil==2.8.2
loguru==0.7.2
pydantic==2.5.0
typeguard==4.1.5
pytest==7.4.3
pytest-cov==4.1.0
pytest-asyncio==0.21.1
Black==23.12.0
flake8==6.1.0
mypy==1.7.1
